html {
	background: black;
	height: 100%;
}
 
body {
	background: black;
	width: 500px;
	margin: 0 auto;
	height: 100%;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
 
}
 
body > div#root {
	height: auto;
	min-height: 100%;
}

 
div#root {
	height: 100%;
}

a:link { 
	text-decoration: none;
	color: rgba(50, 100, 255, 1);
}

a:hover {
	color: rgba(50, 100, 185, 1);
}
 
header {
	background: silver;
	display: block;
	height: 50px;
	padding: 1px 20px 20px 20px;
	-moz-border-radius:0px 0px 10px 10px ;
	-webkit-border-radius:0px 0px 10px 10px ;
	border-radius:0px 0px 10px 10px ;
}
 
footer {
	background: silver;
	display: block;
	height: 40px;           /* set the footer height */
	margin-top: -45px;      /* match footer height */
	padding: 5px 20px 10px 20px;
	text-align: right;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
 
section {
	background: white;
	display: block;
	padding: 5px 20px 10px 20px;   /* bottom matches footer height */
	border-radius: 10px;
	border-top: 20px solid black;
	
}
